body {
    padding: 0vh
    background-color: #404E5C;
}

.container-fluid {
    border: thin solid grey;
    border-radius: 5px
}


.header-row {
    height: 15%;
    background: #404E5C;
}

h1 {
    color: #CFD7DE
}

.col-12, .col-6, .col-4 {
    background: #CFD7DE
}

.puzzle-content-centered {
	margin: auto;
	width: 50%;
    height:80%;
	text-align: center;
}


.search-row {
    padding: 25px;
}

.footer-row {
    height: 5%;
    background: #404E5C;
    text-align: center;
}

a {
	color: #404E5C;
	text-decoration: underline;
}

#clipboard-contents {
    display: none;
}

.clipboard-only {
    display: none;
}

#clipboard-button {
    border-radius:10px;
    position:fixed;
    bottom:20px;
    right:20px;
}

img {
    width: 50%;
}